@import "@radix-ui/colors/blackA.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/violet.css";

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.card {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background-color: rgba(255, 255, 255, 0.074);
  /* border: 1px solid rgba(255, 255, 255, 0.222); */
  border-radius: 0.7rem;
  transition: all ease 0.3s;
  position: relative;
  overflow: hidden;
}

.degree_weather {
  font-size: 20px;
  font-weight: 600;
  font-size: 3.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.image {
  padding-top: 20px;
  width: 100px;
  object-fit: cover;
}

.weather_desc {
  font-size: 1.4rem;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  margin-top: -10px;
}

.weatherCard_place,
.weatherCard_time {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.image_container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 0;
  background-size: cover;
  filter: blur(20px); /* Apply the blur effect to the container */
  background-position: center;
}


.windCard{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 10px;
  margin:0 10px 0 10px;
  border-radius: 0.7rem;
  background-color: rgba(255, 255, 255, 0.074);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(10, 10, 10, 0.222);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* progress uv */
@keyframes progress {
  0% { --percentage: 0; }
  100% { --percentage: var(--value); }
}

@property --percentage {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --primary: #369;
  --secondary: #adf;
  --size: 150px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 2 / 1;
  border-radius: 50% / 100% 100% 0 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(from 0.75turn at 50% 100%, var(--primary) calc(var(--percentage) * 1% / 2), var(--secondary) calc(var(--percentage) * 1% / 2 + 0.1%));
  mask: radial-gradient(at 50% 100%, white 55%, transparent 55.5%);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(at 50% 100%, #0000 55%, #000 55.5%);
  -webkit-mask-mode: alpha;
}

[role="progressbar"]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--primary);
}


