@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');


body{
    width: 100%;
    height: 100vh; 
  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Home_container{
    position: relative;
    cursor:pointer
}

.Home_container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3); 
}

.time_container{
    position: absolute;
    bottom: 8%;
    left:3%;
    color: white;
}

.time{
    font-size:5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 -20px;
}
.date{
    margin: 0;
    font-size: 2.5rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.weather_container{
    position: absolute;
    top: 8%;
    right: 3%;
    color: white;
    line-height: 59px;
}

.place{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.home_weather{
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row-reverse;
}

.home_temp{
    font-size: 5.5rem;
    padding: 16px 30px 0 0;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row-reverse;
}

.home_location{
    font-size: 2.5rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.sup{
    font-size: 2rem;
    font-weight: 800;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}